node_modules/
coverage/
.nyc_output/
.env
.VSCodeCounter
leon-art-firebase-adminsdk-5xfnu-c0814b59c8.json
/uploads/*.jpg
test-results/junit.xml
test-results/
junit.xml
leon-art-d8942-firebase-adminsdk-zkdcu-115fd03559.json