{
    "branches": [
        "main",
        {
            "name": "dev",
            "prerelease": true
        }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "type": "[ADD]",
                        "release": "minor"
                    },
                    {
                        "type": "[FIX]",
                        "release": "patch"
                    },
                    {
                        "type": "[UPDATE]",
                        "release": "patch"
                    },
                    {
                        "type": "[BREAKING]",
                        "release": "major"
                    },
                    {
                        "type": "chore",
                        "release": "patch"
                    },
                    {
                        "type": "docs",
                        "release": "patch"
                    },
                    {
                        "type": "style",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "perf",
                        "release": "patch"
                    },
                    {
                        "type": "test",
                        "release": "patch"
                    }
                ]
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        "@semantic-release/github",
        "@semantic-release/git"
    ]
}